
<!--############################################################################3-->
<section class="card">
<mat-card class="item-card" >
        <mat-card-header>
               
        </mat-card-header>

          <mat-card-content >
            <h3 align="center">Owner: Shourya</h3>
            <h3 align="center">@shourya21</h3>

            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            
            <h3>Item Id: 56476</h3>
            <h3>Item Name: German shepherd</h3>

        </mat-card-content>
       
</mat-card>

<mat-card class="item-card" >
  <mat-card-header>
    
  </mat-card-header>

    <mat-card-content >
      <p align="left"><strong>Description: </strong>The German Shepherd is a breed of medium to large-sized working dog that originated in Germany. In the English language, the breed's officially recognized name is German Shepherd Dog.</p>
      <p align="left"><strong>Item Category: </strong>Animal</p>
      <p align="left"><strong>Item Quantity: </strong>1</p>
      <p align="left"><strong>Duration for Rent: </strong>3 Months</p>
      <p align="left"><strong>Base Rent: Rs</strong>500</p>
      <p align="left"><strong>Minimum Bid Amount: Rs</strong>400</p>
      <p align="left"><strong>Current Bid Amount: Rs</strong>600</p>
      <p align="left"><strong>Time Left to bid: </strong>7 Days</p>
      <p align="left">----------------------------------------------------------</p>
    <div class="form-field" align="left">  <strong>Your Bid: </strong>
      
      <mat-form-field>
          <input matInput placeholder="Amount" type="number" class="example-right-align" class="form-field">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
    </div>

    <div class="form-field" align="left">  <strong>No. of Days: </strong>
      
      <mat-form-field>
          <input matInput placeholder="Days" type="number" class="example-right-align" class="form-field">
          <span matSuffix>Days</span>
        </mat-form-field>
    </div>

    <button mat-raised-button >BID!</button>

  </mat-card-content>
 
</mat-card>


</section>
      