<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign.xs="center center" fxLayoutWrap>
  <mat-card class="card" fxFlexOrder.lt-md="4" *ngFor="let track of tracks">
        
          <mat-card-header>
            <mat-card-title>{{track.artist}}</mat-card-title><br>
            <mat-card-subtitle>{{track.name}}</mat-card-subtitle>
            </mat-card-header>
          <img mat-card-image class="img" src="./assets/img/music.jpg">
          <mat-card-actions>

    <button mat-button (click)=addTracksToWishList(track)>Add to Playlist <mat-icon>favorite</mat-icon></button>
              
          </mat-card-actions>
        
        </mat-card>
      </div>