.card {
  width: 23%;
  margin-bottom: 2%;
  margin-left: 80px;
  background-color:brown;
  margin-top: 50px;
  color:beige;
  /* margin-bottom: 18%; */

/* position: relative; */
}

.container {
  /* min-height: 100%; */
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 50px;
}
