// .item-card {
//     margin: 15px;
//     max-width: 450px;
//     max-height: 450px;
//     width: 400px;
//     height: 450px;
//     align-items: center;
//     background-color: rgb(194, 211, 243); 
//     position: static;      
// }

// .image
// {
//     max-height: 10px;
// }

// .carousel-multi-item
// {
//     margin: 15px;
// }
// .body
// {
//     max-height:30px;
// }
.recommend
{
    text-align: center;
    margin-top:30px;
    overflow-x:hidden;  
    background-color:white;
    height:600px;
    width:1400px;
    margin: 10px;
    margin-right: 20px;
 
}

h2
{
    margin-top: 20px; 
}
.card
{
    max-height:500px;
    max-width:350px;
    height: 470px;
    width: 350px;
    overflow:hidden;
    margin-left: 70px;
    
}
.body
{
    height:300px;
    width:200px;
    
    
}
.itemImage
{
    // height:50px;
    max-height: 50px;
}

h5.names
{
    margin-top: 110px;
}