
      #logo{
        width:150px;
        /* float: left; */
        padding-right: 10px;
        
        }
        
        #search >*:not(:first-child){
        /* float: right; */
        padding-left:370px;
        
        }
         
         #search{
            padding: 60px;
        background-color:rgb(199, 169, 169);
            } 
        
        #button{
        background-color:red;
        
        }
        
        #playlist{
            background-color: aliceblue;
            /* background-size: 300px; */
        }

