<!-- <div class="container">
  <div>
    User Name : <input type="text" name="username" [(ngModel)]="username">
    Password : <input type="password" name="password" [(ngModel)]="password">
  </div>
  <button (click)=checkLogin() class="btn btn-success">
    Login
  </button>
</div> -->



<!--############################################################################3-->
<section class="card">

  <mat-card class="item-card" >
    <mat-card-header>
      
    </mat-card-header>
  
      <mat-card-content >
  
        <span class="contents">Fill the Details</span>
          <div class="example-container">
  
              <mat-form-field>
                <input matInput placeholder="Enter your email *"  [(ngModel)]="username">
              </mat-form-field>
  
              <mat-form-field>
                  <input matInput placeholder="Enter your password *" [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
  
              
                    </div>
  
      <button mat-raised-button class="Submit" (click)=checkLogin()>Login</button>
  
    </mat-card-content>
   
  </mat-card>
  
  
  </section>
        