  <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-header">  
                <img src="./assets/auctionlogo.png" class="img-rounded" alt="auction-logo" width="50px" height="50px">
         </div>
    
         <span class="animated bounce delay-1s" id="branding" [routerLink]="['/landing']">e-Auction</span>
          
         <div class="collapse navbar-collapse "  id="navbarTogglerDemo01" [ngClass]="{'show':navbarOpen}">
   
           <form class="form-inline my-2 my-lg-0" id="search">
           <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search" aria-label="Search">
           <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
         </form>
         <div ngbDropdown class="d-inline-block" id="search">
         <span  id="dropdownBasic1" ngbDropdownToggle>Categories</span>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="searchCategory('Car & Bike')">Car & Back</button>
                        <button ngbDropdownItem  (click)="searchCategory('Jewellery')" >Jewellery</button>
                        <button ngbDropdownItem (click)="searchCategory('Artifacts')">Artifacts</button>
                        <button ngbDropdownItem  (click)="searchCategory('Electronics')">Electronics</button>
                        <button ngbDropdownItem (click)="searchCategory('Fashion')">Fashion</button>
                      </div>
         </div>
                
         <ul class="navbar-nav mr-auto">

            
                <li class="nav-item" >
                        <a class="nav-link" class="button"  routerLink="/helpdesk">Help Desk</a>
                </li>
                 <button class="nav-items ">
                        <a class="nav-link animated shake" routerLink="/login">Login</a>
                 </button>

                   <li class="nav-item">
                    <div class="row">
                      <div class="col">
                        <div ngbDropdown class="d-inline-block">
                    <!-- <button class="btn btn-outline-success" id="dropdownBasic1" ngbDropdownToggle>Categories</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="searchCategory('Car & Bike')">Car & Back</button>
                        <button ngbDropdownItem  (click)="searchCategory('Jewellery')" >Jewellery</button>
                        <button ngbDropdownItem (click)="searchCategory('Artifacts')">Artifacts</button>
                        <button ngbDropdownItem  (click)="searchCategory('Electronics')">Electronics</button>
                        <button ngbDropdownItem (click)="searchCategory('Fashion')">Fashion</button>
                      </div> -->
                      </div>
                      </div>
                      </div>
                 </li>
         </ul>       
  </div>



  
</nav>

