.itemImage
{
   height:350px;
   width:400px;
   position: relative;
   float: left;
  
   background-position: 50% 50%;
   background-repeat:   no-repeat;
   background-size:     cover;
}
.body
{
   height:200px;
   width:200px;
}
.card
{
    width:400px;
   margin-top:10px;
}
#new
{
   color:black;
 padding-top:150px;
 text-align:center;
}