
<!-- <section class="card" 
fxLayout
fxLayout.sm="column"
fxLayoutAlign="center"
fxLayoutGap="10px"
fxLayoutGap.xs="0">
  <div class="item-card" *ngFor="let user of productList">
   
      <mat-card *ngFor="let t of user"> 
  
          <mat-card-header >
            <mat-card-title class="text">ITEM ID: {{t.itemid}}</mat-card-title><br>
            <mat-card-title class="text">ITEM ID: {{t.itemName}}</mat-card-title><br>
          </mat-card-header>
            <mat-card-title class="text">ITEM NAME: {{user.rentItems[0].itemName}}</mat-card-title><br>

            <mat-card-title class="text">DESCRIPTION: {{user.rentItems[0].itemDescription}}</mat-card-title><br>
            <mat-card-title class="text">OWNER: {{user.userName}}</mat-card-title><br>
          </mat-card-header>
          <img mat-card-image class="img" src="{{user.rentItems[0].itemImageUrl}}">
            <mat-card-actions>
                <button mat-button class="text1" [routerLink]="['/biddingpage']">BID </button>
                
            </mat-card-actions>
      </mat-card>
    </div>
</section> -->
  